<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>
    <targets async="true">
        <!-- 1. 文件日志 (保持原样，方便排查 Electron 挂掉的情况) -->
        <target name="file" xsi:type="File"
                fileName="${basedir}/logs/error/${shortdate}.log"
                archiveEvery="Day"
                archiveNumbering="DateAndSequence"
                maxArchiveFiles="7"
                layout="${date:format=HH\:mm\:ss}|${level:uppercase=true}| ${message} ${exception:format=tostring}"/>
        <target name="electron_json" xsi:type="Console" encoding="utf-8">
            <layout xsi:type="JsonLayout" includeAllProperties="true">
                <!-- 为了让 JSON 体积更小且解析更快，只输出必要字段 -->
                <attribute name="time" layout="${longdate}"/>
                <attribute name="level" layout="${level:upperCase=true}"/>
                <attribute name="logger" layout="${logger}"/>
                <attribute name="message" layout="${message}"/>
                <!-- 异常堆栈，如果有的话 -->
                <attribute name="exception" layout="${exception:format=tostring}"/>
            </layout>
        </target>
    </targets>
    <rules>
        <!-- 所有 Info 及以上级别的日志，都输出 JSON 到控制台供 Electron 读取 -->
        <logger name="*" minlevel="Info" writeTo="electron_json"/>
        <!-- Error 级别额外写入本地文件作为备份 -->
        <logger name="*" minlevel="Error" writeTo="file"/>
    </rules>
</nlog>